name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
#  coverage:
#    uses: ./.github/workflows/coverage.yaml
#    secrets: inherit
#  cyclic-imports:
#    uses: ./.github/workflows/cyclic-imports.yaml
#  doctest:
#    uses: ./.github/workflows/doctest.yaml
#    secrets: inherit
#  format:
#    uses: ./.github/workflows/format.yaml
#  pre-commit:
#    uses: ./.github/workflows/pre-commit.yaml
#  test:
#    uses: ./.github/workflows/test.yaml
#  test-deps:
#    uses: ./.github/workflows/test-deps.yaml

  get-versions:
    runs-on: ubuntu-22.04
    outputs:
      package_versions: ${{ steps.extract.outputs.versions }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Read versions
        id: extract
        run: |
          echo "versions=$(cat assets/versions.json)" >> $GITHUB_OUTPUT

      - name: Show versions
        run: |
          echo ${{ steps.extract.outputs.versions }}

      - name: Show versions (2)
        run: |
          echo "versions: ${{ toJson(fromJson(steps.extract.outputs.versions)) }}"
          echo "coola: ${{ toJson(fromJson(steps.extract.outputs.versions).coola) }}"
          echo "packaging: ${{ toJson(fromJson(steps.extract.outputs.versions).packaging) }}"
          echo "requests: ${{ toJson(fromJson(steps.extract.outputs.versions).requests) }}"


  packaging:
    needs: get-versions
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        os: [ ubuntu-22.04 ]
        python-version: [ '3.14', '3.13' ]
        package-version: ${{ fromJson(needs.get-versions.outputs.package_versions).packaging }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: true

      - name: Install invoke
        run: |
          make install-invoke

      - name: Install packages
        run: |
          inv install --all-deps

      - name: Install valid package version
        uses: durandtibo/uv-install-package-action@v0.1.1
        with:
          package-name: 'packaging'
          package-version: ${{ matrix.package-version }}
          python-version: ${{ matrix.python-version }}

      - name: Show python config
        run: |
          inv show-python-config

      - name: Show installed packages
        run: |
          inv show-installed-packages

      - name: Run unit tests
        run: |
          inv unit-test