name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
#  coverage:
#    uses: ./.github/workflows/coverage.yaml
#    secrets: inherit
#  cyclic-imports:
#    uses: ./.github/workflows/cyclic-imports.yaml
#  doctest:
#    uses: ./.github/workflows/doctest.yaml
#    secrets: inherit
#  format:
#    uses: ./.github/workflows/format.yaml
#  pre-commit:
#    uses: ./.github/workflows/pre-commit.yaml
#  test:
#    uses: ./.github/workflows/test.yaml
#  test-deps:
#    uses: ./.github/workflows/test-deps.yaml

  get-versions:
    runs-on: ubuntu-22.04
    outputs:
      package_versions: ${{ steps.extract.outputs.versions }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Read versions
        id: extract
        run: |
          echo "versions=toJson($(cat assets/versions.json))" >> $GITHUB_OUTPUT

      - name: Show versions
        run: |
          echo ${{ steps.extract.outputs.versions }}

      - name: Show versions (2)
        run: |
          echo "versions: ${{ fromJson(steps.extract.outputs.versions) }}"
          echo "coola: ${{ fromJson(steps.extract.outputs.versions).coola }}"
          echo "packaging: ${{ fromJson(steps.extract.outputs.versions).packaging }}"
          echo "requests: ${{ fromJson(steps.extract.outputs.versions).requests }}"


  example:
    runs-on: ubuntu-latest
    steps:
      - name: Create JSON output
        id: create_json
        run: |
          echo '{"name": "Alice", "age": 30}' > data.json
          echo "json_data=$(cat data.json)" >> $GITHUB_OUTPUT
      - name: Show data
        run: |
          echo ${{ steps.create_json.outputs.json_data }}
      - name: Use fromJson to extract a field
        run: echo "Name is ${{ fromJson(steps.create_json.outputs.json_data).name }}"
